.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container {
  width: 395px;
  margin: 0;
  margin-top: -100px;
  .brand {
    display: block;
    width: 100%;
    img {
      max-width: 220px;
      margin: auto;
      display: block;
    }
  }
  .logotype-title {
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
  }
  .user-photo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  form {
    position: relative;
    margin-bottom: 20px;
    &.login {
      input {
        border-radius: 10px 10px 0 0;
        &:nth-child(2) {
          border-radius: 0 0 10px 10px;
          margin-top: -1px;
        }
      }
    }
    &.register {
      button {
        &[type='submit'] {
          position: relative;
          display: block;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 70px;
          line-height: 70px;
          svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: -150px;
            margin: auto;
            width: 15px;
            height: 15px;
          }
        }
      }
      .generated-phrase {
        position: relative;
        label {
          position: absolute;
          z-index: 2;
          top: 15px;
          left: 20px;
          font-weight: 600;
        }
        input {
          padding-top: 40px;
          height: 88px;
        }
      }
    }
    label {
      font-weight: 500;
    }
    input {
      font-size: 16px;
      height: 48px;
      padding: 0 20px;
      border-radius: 0;
      color: $black;
      border-color: #e5e5e5;
      box-shadow: none;
      &:focus {
        outline: 0;
        box-shadow: none !important;
        position: relative;
        z-index: 1;
      }
      &[readonly] {
        background-color: $white;
      }
    }
    .form-group {
      margin-bottom: 0;
      margin-top: -1px;
      &:first-child {
        &:last-of-type {
          input {
            border-radius: 10px;
          }
        }
      }
      &:first-child {
        input {
          border-radius: 10px 10px 0 0;
          margin-top: 0;
        }
      }
      &:last-of-type {
        input {
          border-radius: 0 0 10px 10px;
        }
      }
      &.has-error,
      &.has-danger {
        input {
          border-color: #eb6e6e;
          @include placeholder() {
            color: #eb6e6e
          }
        }
      }
    }
    button {
      &[type='submit'] {
        position: absolute;
        z-index: 2;
        width: 15px;
        height: 15px;
        background: transparent;
        border: 0;
        padding: 0;
        right: 17px;
        bottom: 17px;
        &:focus {
          outline: 0;
        }
        use {
          fill: #8d8d8d;
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .copy-button {
      border: 0;
      background: 0;
      padding: 0;
      width: 14px;
      height: 16px;
      position: absolute;
      z-index: 2;
      right: 15px;
      top: 55px;
      &:focus {
        outline: 0;
      }
      svg {
        width: 100%;
        height: 100%;
        use {
          fill: #7f7f7f;
        }
      }
    }
  }
  .underform-line {
    a {
      color: $black;
    }
  }
}

main {
  width: 100%;
  height: 100%;
}

.wallets-wrapper {
  width: 915px;
  margin: auto;
  height: 100%;
  .title {
    color: #494949;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .wallets {
    margin: 70px auto 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .wallet {
      width: 275px;
      height: 440px;
      border-radius: 5px;
      position: relative;
      background-color: $white;
      border: 1px solid #c9c9c9;
      margin-right: 30px;
      margin-bottom: 30px;
      @include crossBrowser(transition, .2s ease-in);
      &:hover {
        background-color: #f6f6f6;
        .circle {
          @include crossBrowser(transform, scale(1.1));
        }
      }
      &:focus {
        outline: 0;
      }
      &.main {
        padding: 25px;
        background-color: $white;
        &:hover {
          background-color: $white;
        }
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          //margin-bottom: 45px;
          .icon {
            max-width: 20px;
            max-height: 30px;
            margin-right: 15px;
          }
          .name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .curr-name {
              font-size: 20px;
              text-transform: capitalize;
            }
            .curr-sub {
              font-size: 14px;
              text-transform: uppercase;
            }
          }
        }
        .code {
          .code-title {
            font-size: 15px;
            font-weight: 200;
            margin-bottom: 10px;
          }
          .form-group {
            position: relative;
            input {
              outline: 0 !important;
              box-shadow: none !important;
              background-color: transparent;
              border: 1px solid #c9c9c9;
              border-radius: 5px;
              &:focus {
                outline: 0 !important;
                box-shadow: none !important;
              }
            }
            .copy-button {
              border: 0;
              background: 0;
              padding: 0;
              width: 14px;
              height: 16px;
              position: absolute;
              z-index: 2;
              right: 10px;
              top: 0;
              bottom: 0;
              margin: auto;
              &:focus {
                outline: 0;
              }
              svg {
                width: 100%;
                height: 100%;
                use {
                  fill: #7f7f7f;
                }
              }
            }
          }
        }
        .price {
          font-size: 44px;
          font-weight: 200;
          text-align: center;
          margin: 57px 0 50px;
        }
        .buttons {
          a {
            border: 0;
            background-color: transparent;
            width: 100px;
            height: 20px;
            padding: 0;
            display: flex;
            align-items: center;
            margin-top: 25px;
            color: $black;
            &:hover {
              svg {
                margin-left: 25px;
              }
            }
            &:focus {
              outline: 0;
            }
            &.remove {
              color: #eb6e6e;
              position: absolute;
              z-index: 2;
              right: 25px;
              bottom: 25px;
              justify-content: flex-end;
            }
            use {
              fill: #8d8d8d;
            }
            svg {
              margin-left: 15px;
              width: 15px;
              height: 100%;
              @include crossBrowser(transition, .2s ease-in);
            }
          }
        }
      }
      &.add {
        background-color: #f4f4f4;
        border: 1px dashed #c9c9c9;
        .circle {
          position: absolute;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          border: 1px dashed #c9c9c9;
          left: 0;
          right: 0;
          top: -50px;
          bottom: 0;
          margin: auto;
          @include crossBrowser(transition, .2s ease-in);
          .plus {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 56px;
            height: 59px;
          }
        }
        .name {
          color: #c5c5c5;
          font-size: 20px;
          font-weight: 200;
          text-align: center;
          position: absolute;
          bottom: 55px;
          width: 100%;
          left: 0;
          right: 0;
          text-transform: uppercase;
        }
      }
    }
  }
}

.history-table-wrapper {
  width: 1140px;
  margin: auto;
  .back-btn {
    border: 0;
    background-color: transparent;
    width: 100px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: $black;
    position: absolute;
    top: -83px;
    left: 0;
    &:hover {
      svg {
        margin-right: 25px;
      }
    }
    &:focus {
      outline: 0;
    }
    use {
      fill: #8d8d8d;
    }
    svg {
      margin-right: 15px;
      width: 15px;
      height: 100%;
      @include crossBrowser(transition, .2s ease-in);
      @include crossBrowser(transform, rotate(180deg));
    }
  }
  .title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .icon {
      max-width: 20px;
      max-height: 30px;
      margin-right: 10px;
    }
    span {
      font-size: 24px;
      font-weight: 700;
      color: #494949;
    }
  }
  .form-group {
    position: relative;
    width: 370px;
    margin: auto;
    input {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      text-align: center;
      width: 100%;
    }
    .copy-button {
      border: 0;
      background: 0;
      padding: 0;
      width: 14px;
      height: 16px;
      position: absolute;
      z-index: 2;
      right: -5px;
      top: 0;
      bottom: 0;
      margin: auto;
      &:focus {
        outline: 0;
      }
      svg {
        width: 100%;
        height: 100%;
        use {
          fill: #7f7f7f;
        }
      }
    }
  }
  .history-table {
    background-color: $white;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding-top: 25px;
    margin-top: 30px;
    position: relative;
    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .name {
      font-size: 20px;
      font-weight: 700;
      color: #494949;
      float: left;
      padding-left: 25px;
    }
    .price {
      font-size: 44px;
      font-weight: 200;
      float: right;
      color: $black;
      padding-right: 25px;
    }
    table {
      background-color: transparent;
      border: 0;
      width: 100%;
      tr {
        border-bottom: 1px solid #f6f6f6;
        & > td,
        & > th {
          &:first-child {
            padding-left: 25px;
          }
        }
        & > th {
          &:nth-child(5) {
            text-align: right;
            padding-right: 25px;
          }
        }
        & > td {
          &:first-child {
            color: #494949;
            font-weight: 400;
          }
          &:nth-child(2) {
            color: #494949;
            font-weight: 700;
          }
          &:nth-child(3) {
            font-weight: 700;
            &.incr {
              color: #419e08;
            }
            &.decr {
              color: #c00909;
            }
          }
          &:nth-child(4) {
            font-weight: 400;
            color: #494949;
          }
          &:nth-child(5) {
            font-weight: 400;
            color: #eb6e6e;
            text-align: right;
            padding-right: 25px;
          }
        }
      }
      td,
      th {
        padding: 20px 15px;
      }
      th {
        font-size: 15px;
        font-weight: 700;
        color: #494949;
      }
    }
    .numbers {
      padding: 25px 25px;
      a {
        color: $black;
        margin-right: 25px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  &.fade.in {
    display: flex !important;
  }
  .modal-dialog {
    max-width: 695px;
    height: 255px;
    margin: auto;
    width: 100%;
    //height: 100%;
    .modal-content {
      padding: 30px 35px;
      box-shadow: none;
      width: 100%;
      .title {
        font-size: 24px;
        font-weight: 700;
        color: #494949;
        margin-bottom: 50px;
      }
      .bootstrap-select {
        width: 100%;
        .dropdown-toggle {
          border-radius: 5px;
          height: 50px;
          font-size: 16px;
          &:focus {
            outline: 0 !important;
          }
        }
      }
      .select-wallet-button {
        border: 0;
        background-color: transparent;
        width: 100px;
        height: 20px;
        padding: 0;
        display: flex;
        align-items: center;
        margin-top: 25px;
        &:hover {
          svg {
            margin-left: 25px;
          }
        }
        &:focus {
          outline: 0;
        }
        use {
          fill: #8d8d8d;
        }
        svg {
          margin-left: 15px;
          width: 15px;
          height: 100%;
          @include crossBrowser(transition, .2s ease-in);
        }
      }
    }
  }
}
